h1
    background-color: rgba(27, 238, 20, 0.479)
    font-size: 2em
    text-align: center
    font-weight: bold
ul
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    background-color: rgb(6, 75, 6)
li
    float: left
li a
    display: block
    color: white
    text-align: center
    padding: 14px 16px
    text-decoration: none
li a:hover
    background-color: rgb(5, 54, 5)
div img
    margin-left: auto
    margin-right: auto
    display: block
    height: 20em
    width: 30em
div p
    text-align: center