<ul>
    <li><a routerLink="/clientela">Clientes</a></li>
    <li><a routerLink="/funcionariado">Administración</a></li>
    <li><a routerLink="/proletariado">Traballadores</a></li>
</ul>
<!--
    <ul>
    <li><a routerLink="/login">Clientes</a></li>
    <li><a routerLink="/login">Administración</a></li>
    <li><a routerLink="/login">Traballadores</a></li>
</ul>
-->
<b *ngIf="!appComp.isLogeado()" routerLink="/rexistro">Rexistrarse</b>
<h1>{{benvida}}</h1>
<div>
    <img src="../assets/imaxe/jardineria-770x500.jpg" />
    <p>Colocacion e mantemento de plantas de temporada.</p>
    <img src="../assets/imaxe/249269172_1.jpg" />
    <p>Expertos en céspede e árbores ornamentais.</p>
</div>