input
    background-color: rgba(71, 160, 71, 0.725)
    border-radius: 6px
    border:0px
    text-align: center
    color: rgb(255, 255, 255)
::placeholder
    color: rgba(255,255,255,0.75)
button
    border-radius: 6px
    background-color: rgb(51, 145, 51)
    color: rgb(0, 0, 0)
    border-color: black
a
    color: rgb(35, 65, 34)
    text-decoration: underline
    margin-right: 10px
h1
    color: rgb(76, 170, 73)
    background-color: rgba(0, 0, 0, 0.63)
