<div login-background>
    <form *ngIf="!logeado">
        <div class="login-container">
            <mat-card >
                <mat-card-header>
                  <mat-card-title>Acceso</mat-card-title>  
                </mat-card-header>
                <p *ngIf="this.erroLogeo">
                    <ngb-alert [dismissible]="false">
                        Erro ó intentar logearse, comprobe o seu usuario ou contrasinal.
                    </ngb-alert>
                </p>
                <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input
                                matInput 
                                [(ngModel)]="this.usuarioALogear.user" 
                                name="caixaUsuarioL" 
                                type="text" required
                                />
                        </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contrasinal</mat-label>
                        <input
                            matInput 
                            [(ngModel)]="this.usuarioALogear.pass" 
                            name="caixaContrasinalL" 
                            type="password"
                            required 
                            />
                    </mat-form-field>
                    <button color="primary" 
                        mat-raised-button 
                        (click)="logear()">Entrar</button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</div>