body
    background-color: rgba(69, 103, 69, 0.004)
    display: block
    margin-left: auto
    margin-right: auto
img
    width:15%
    height: auto
footer 
    position: relative
    bottom: 0
    font-size: 0.7em
footer:before
    padding: 1em
button
    float: right
    border-radius: 6px
    background-color: rgb(71, 160, 71)
    color: rgb(255, 255, 255)
    border-color: black