<mat-toolbar class="toolbar" color="">
  <div>
      <img src="../assets/imaxe/Logo.png" routerLink="/benvida"/>
  </div>
  <span class="example-fill-remaining-space"></span>
  <mat-option routerLink="/login">
      Clientes
  </mat-option>
  <mat-option routerLink="/login">
      Administracion
  </mat-option>
  <mat-option routerLink="/login">
      Traballadores
  </mat-option>
<mat-option *ngIf="!isLogeado()" routerLink="/rexistro">
    Rexistrarse
</mat-option>
  <mat-option *ngIf="isLogeado()" (click)="logout()">
      {{nome}}, logout?
  </mat-option>
</mat-toolbar>
<router-outlet>
</router-outlet>
<footer><div>Paxina creada por FranRM@github.</div></footer>